// Base font
=base-font
  color: #0d0d0d
  font: 13px Arial, Helvetica, sans-serif

=clear
  clear: both

// Links
a
  color: #3366CC
  &:hover
    color: #3366CC
    text-decoration: none
  &:focus,
  &:active
    outline: none
  &:visited
  
// Base
html,
body
  height: 100%
  margin: 0 0 1px 0
  padding: 0
body
  +base-font
  background: #fff
  padding: 20px
  padding-top: 50px
  text-align: center

  #index
    #header
      text-align: center
      h1
        font-size: 35px
        margin-bottom: 0px
        font-weight: bold
  
    .description
    
    h2
      text-align: left
  
    .local
      margin-top: 30px
    
    .reserved
      padding-top: 25px

  #map
    #header
      h1
        line-height: 84px
        vertical-align: middle
        text-align: left
        font-size: 35px
        font-weight: bold
.clear
  +clear
  
#hosts
  margin: 0
  padding: 0
  
  img
    border: none
    width: 75px
    margin: 0
    padding: 0