!!! Strict
%html{html_attrs('en-en')}
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => "en"}
    %title Stay with a Local | RailsConf | Bmore on Rails
    %link{:href=>'/stylesheets/grid.css', :rel => 'stylesheet', :media => "screen", :type => "text/css"}
    %link{:href=>'/stylesheets/text.css', :rel => 'stylesheet', :media => "screen", :type => "text/css"}
    %link{:href=>'/stylesheets/application.css', :rel => 'stylesheet', :media => "screen", :type => "text/css"}
    %script{:type => "text/javascript", :src => "/javascripts/lib/jquery-1.3.2.min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/site.js"}
    %script{:type => "text/javascript", :src => "http://maps.google.com/maps/api/js?sensor=false"}
  %body
    #header.container_12
      .grid_2.alpha
        %a{:href => 'http://bmoreonrails.org'}
          %img#logo{:src => '/images/bmore-on-rails.png'}
      .grid_6
        %h1 Stay with a Local
      .grid_4.omega
        %p
          As part of a larger effort to welcome the rails community to Baltimore for RailsConf 2010, 
          %a{:href => 'http://bmoreonrails.org'} Bmore on Rails
          has organized a room-share for RailsConf speakers.  We have 12 rooms available to house speakers 
          for the duration of the conference.  We see it as an opportunity to welcome you to our city and
          for us to create a few new friendships.
    #content.container_12
      = yield
    %br.clear
    #footer.container_12
      %p
        Check out these other cool things we're doing to welcome the rails community.
        %a{:href => 'http://alehouse.heroku.com'} Bmore on Ales
        %a{:href => 'http://bmoreguests.info'} Bmore Guests
        %a{:href => 'http://bmoreonrails.org'} Bmore on Rails
    = partial :_analytics
    