%a{:href => 'http://bmoreonrails.org'}
  %img#logo{:src => url_for('/images/bmore-on-rails.png'), :alt => "B'more on Rails, Baltimore's Ruby Users Group", :title => "B'more on Rails, Baltimore's Ruby Users Group"}
%h1#title
  %a{:href => url_for('/')}
    %span
      Stay
    %span
      with a
    %span
      Local
