:javascript
  var hosts = #{Host.all(:order => "name").to_json(:methods => [:image_path, :first_name, :guests])};

.grid_8.alpha
  #map_canvas{:style => 'height:400px;width:600px;'}
  #hosts
    - Host.all(:order => "name").each do |host|
      %img{:id => "host_#{host.id}", :src => host.image_path }
#selected_host.grid_4.omega
  .container_4
    .grid_2.alpha
      %img
    .grid_2.omega
      %h3
      %p#rooms_available
      %a#stay
  .container_4
    .grid_4
      %p#description
      %h4#staying_with
      #guests

:javascript
  function showHost(host, map) {
    // remove any existing markers
    $.each(hosts, function(i,host) {
      if (host.marker) {
        host.marker.setMap(null);
      }
    });
    if (host.lat && host.lon) {
      var ll = new google.maps.LatLng(host.lat, host.lon);
      host.marker = new google.maps.Marker({
        position: ll, 
        map: map,
        title: host.name
      });
      map.panTo(ll);
    }
    $('#selected_host').hide();
    $('#selected_host h3').html(host.name);
    $('#selected_host img').attr("src", host.image_path);
    $('#selected_host img').attr("alt", host.name);
    $('#selected_host #description').html(host.description);
    var rooms_str = "has " + host.available_rooms + " available room";
    if (host.available_rooms != 1) {
      rooms_str += "s";
    }
    $('#selected_host #rooms_available').html(rooms_str);
    $('#selected_host #stay').html("Stay with " + host.first_name);
    $('#selected_host #stay').attr('href', "/hosts/" + host.id + '/room_requests/new');
    if (host.guests.length > 0) {
      $('#staying_with').text("Staying with " + host.first_name);
      var guests_html = "";
      $.each(host.guests, function(index, guest) {
        guests_html += "<p>" + guest.name + "</p>";
      });
      $('#guests').html(guests_html);
    } else {
      $('#staying_with').text('');
      $('#guests').html('');
    }
    $('#selected_host').fadeIn('slow');
  }

  $(document).ready(function() {
    var convention_center = new google.maps.LatLng(39.285685,-76.616936);
    var map = new google.maps.Map(document.getElementById("map_canvas"), {
      zoom: 11,
      center: convention_center,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    var marker = new google.maps.Marker({
      position: convention_center, 
      map: map,
      icon: 'red_flag_30.png',
      title: "Railsconf - at the Baltimore Convention Center"
    });

    $('#hosts img').click(function() {
      var selected_host_id = this.id.match(/host_(\d)+/)[1];
      var host;
      $.each(hosts, function(index, h) {
        if (h.id == selected_host_id) {
          host = h;
        }
      });
      if (!host) { alert('not found'); }
      showHost(host, map);
    });

    $('#selected_host').hide();
  });