
.grid_12
  %h2 Stay with a Local
  .prefix_2.grid_8.suffix_2
    .description
      Hey, you're speaking at RailsConf.  And we've got rooms for you!  Cancel your hotel reservations 
      (if you've made them) and choose one of our fine community members below who have opened up their
      homes for you.  Every room has a door to allow you your privacy.
  
  .available
    %h3 Find a Local
    .local
      .grid_4.alpha
        %img{:src => 'http://a1.twimg.com/profile_images/444906846/twitterProfilePhoto_bigger.jpg'}
      .grid_4
        %h4 Dave Troy
        %p Yo, I've got this house, it's in Bolton Hill, I just bought it.  Rock.
        %button
          Stay with Dave!
      .grid_4.omega
        %img{:src => 'http://maps.google.com/maps/api/staticmap?center=Baltimore,MD&zoom=14&size=300x150&sensor=false'}
    .clear
    
    .local
      .grid_4.alpha
        %img{:src => 'http://www.facebook.com/profile/pic.php?oid=AAAAAQAQJQGl-X6kFbYjsd34CliQJAAAAAnGLPkx6BvcbiYgrek1FIV6'}
      .grid_4
        %h4 Matt Scilipoti
        %p Hey, this guy is one interesting dude.  He's a talkative guy and one heckuva coder!  Plus he's got a room for you to stay in.
        %button
          Stay with Matt!
      .grid_4.omega
        %img{:src => 'http://maps.google.com/maps/api/staticmap?center=Baltimore,MD&zoom=14&size=300x150&sensor=false'}
    .clear
    
  .reserved
    %h3 Already Reserved Locals
    .local
      .grid_4.alpha
        %img{:src => 'http://photos3.meetupstatic.com/photos/member/9/e/6/9/member_1480553.jpeg'}
      .grid_4
        %h4 Nick Evans
        %p It might look like he's got long hair, but you apparently haven't seen the rest of the Baltimore crew.  In any case, Nick is another fine gentleman and would be a catch for any would-be room crasher.
      .grid_4.omega
        %img{:src => 'http://maps.google.com/maps/api/staticmap?center=Baltimore,MD&zoom=14&size=300x150&sensor=false'}
    .clear