#map
  #header.grid_12
    .grid_2.alpha
      %img.logo{:src => '/bmore-on-rails.png'} 
    .grid_10.omega
      %h1 Stay with a Local
  .container_12
    .grid_8.alpha
      %img{:src => '/gmap.png'}
      #hosts
        %img{:src => '/davetroy.jpg'}
        %img{:src => '/davetroy.jpg'}
        %img{:src => '/davetroy.jpg'}
        %img{:src => '/davetroy.jpg'}
        %img{:src => '/davetroy.jpg'}
        %img{:src => '/davetroy.jpg'}
        %img{:src => '/davetroy.jpg'}
        %img{:src => '/davetroy.jpg'}
    .grid_4.omega
      .container_4
        .grid_2.alpha
          %img{:src => '/davetroy.jpg'}
        .grid_2.omega
          %h3 Dave Troy
      .container_4
        .grid_4
          %p Yo, I've got this house, it's in Bolton Hill, I just bought it.  Rock.
          %p Dave has 1 room available
          %button
            Stay with Dave!
          %p 