:javascript
  var hosts = #{Host.all(:order => "name").to_json(:methods => [:image_path, :first_name])};

#map
  #header.grid_12
    .grid_2.alpha
      %img.logo{:src => '/bmore-on-rails.png'} 
    .grid_10.omega
      %h1 Stay with a Local
  .container_12
    .grid_8.alpha
      %img{:src => '/gmap.png'}
      #hosts
        - Host.all(:order => "name").each do |host|
          %img{:id => "host_#{host.id}", :src => host.image_path }
    #selected_host.grid_4.omega
      .container_4
        .grid_2.alpha
          %img
        .grid_2.omega
          %h3
          %p#rooms_available
          %button#stay
      .container_4
        .grid_4
          %p#description

:javascript
  function showHost(host) {
    $('#selected_host h3').html(host.name);
    $('#selected_host img').attr("src", host.image_path);
    $('#selected_host img').attr("alt", host.name);
    $('#selected_host #description').html(host.description);
    var rooms_str = "has " + host.available_rooms + " available room";
    if (host.available_rooms != 1) {
      rooms_str += "s";
    }
    $('#selected_host #rooms_available').html(rooms_str);
    $('#selected_host #stay').html("Stay with " + host.first_name);
  }

  $('#hosts img').click(function() {
    var selected_host_id = this.id.match(/host_(\d)+/)[1];
    var host;
    $.each(hosts, function(index, h) {
      if (h.id == selected_host_id) {
        host = h;
      }
    });
    if (!host) { alert('not found'); }
    showHost(host);
  });
  
  $($('#hosts img')[0]).click();