:javascript
  var hosts = #{Host.all(:order => "name").to_json(:methods => [:image_path])};

#map
  #header.grid_12
    .grid_2.alpha
      %img.logo{:src => '/bmore-on-rails.png'} 
    .grid_10.omega
      %h1 Stay with a Local
  .container_12
    .grid_8.alpha
      %img{:src => '/gmap.png'}
      #hosts
        - Host.all(:order => "name").each do |host|
          %img{:id => "host_#{host.id}", :src => host.image_path, :alt => host.name }
    #selected_host.grid_4.omega
      .container_4
        .grid_2.alpha
          %img
        .grid_2.omega
          %h3
      .container_4
        .grid_4
          %p Yo, I've got this house, it's in Bolton Hill, I just bought it.  Rock.
          %p Dave has 1 room available
          %button
            Stay with Dave!
          %p 

:javascript
  function showHost(host) {
    $('#selected_host h3').html(host.name);
    $('#selected_host img').attr("src", host.image_path);
  }

  $('#hosts img').click(function() {
    var selected_host_id = this.id.match(/host_(\d)+/)[1];
    var host;
    $.each(hosts, function(index, h) {
      if (h.id == selected_host_id) {
        host = h;
      }
    });
    if (!host) { alert('not found'); }
    showHost(host);
  });
  
  $($('#hosts img')[0]).click();