%p Hi #{room_request.guest.name},
%p 
  #{room_request.host.name} has declined your request for a room during RailsConf.  Please feel free to 
  %a{ :href => host } request to stay 
  with another Baltimore rubyist.
  \.
%p Best,
%p B'more on Rails